<div class="frise-eco">
  <div class="container">
    <div class="element">
      <div class="date">2002</div>
      <div class="ligne"></div>
      <div class="texte">Les serveurs sont construits en interne, afin d'optimiser l'espace et maîtriser l'ensemble de la chaîne de valeur</div>
    </div>
    <div class="element">
      <div class="date">2003</div>
      <div class="ligne"></div>
      <div class="texte">Lorem ipsum dolor sit.</div>
    </div>
    <div class="element">
      <div class="date">2006</div>
      <div class="ligne"></div>
      <div class="texte">Lorem ipsum dolor sit.</div>
    </div>
    <div class="element">
      <div class="date">2008</div>
      <div class="ligne"></div>
      <div class="texte">Lorem ipsum dolor sit.</div>
    </div>
    <div class="element">
      <div class="date">2009</div>
      <div class="ligne"></div>
      <div class="texte">Lorem ipsum dolor sit.</div>
    </div>
    <div class="element">
      <div class="date">2012</div>
      <div class="ligne"></div>
      <div class="texte">Lorem ipsum dolor sit.</div>
    </div>
    <div class="element">
      <div class="date">2019</div>
      <div class="ligne"></div>
      <div class="texte">Lorem ipsum dolor sit.</div>
    </div>
    <div class="element">
      <div class="date">2020</div>
      <div class="ligne"></div>
      <div class="texte">Rack entièrement cliquable (watercooling, réseau électrique)</div>
    </div>
  </div>
</div>
