<div class="frise-eco">
  <div class="container">
    <div class="element">
      <div class="date">2002</div>
      <div class="ligne"></div>
      <div class="texte">Serveurs construits en interne pour optimiser l'espace et maîtriser l'ensemble de la chaîne de valeur</div>
    </div>
    <div class="element">
      <div class="date">2003</div>
      <div class="ligne"></div>
      <div class="texte">Premier système de watercooling, pour réduire les besoins en énergie</div>
    </div>
    <div class="element">
      <div class="date">2006</div>
      <div class="ligne"></div>
      <div class="texte">Première salle de serveurs sans climatisation</div>
    </div>
    <div class="element">
      <div class="date">2008</div>
      <div class="ligne"></div>
      <div class="texte">Alimentation en courant continu pour les serveurs d'entrée de gamme, pour gagner en efficacité</div>
    </div>
    <div class="element">
      <div class="date">2009</div>
      <div class="ligne"></div>
      <div class="texte">Modernisation des serveurs, pour améliorer la chaîne d'approvisionnement inverse</div>
    </div>
    <div class="element">
      <div class="date">2012</div>
      <div class="ligne"></div>
      <div class="texte">Nouveau datacenter au Québec, alimenté par des énergies responsables (hydroélectricité, éoliennes)</div>
    </div>
    <div class="element">
      <div class="date">2019</div>
      <div class="ligne"></div>
      <div class="texte">3e génération du système de free cooling, pour améliorer l'efficacité du système de watercooling</div>
    </div>
    <div class="element">
      <div class="date">2020</div>
      <div class="ligne"></div>
      <div class="texte">Rack entièrement cliquable (watercooling, réseau électrique)</div>
    </div>
  </div>
</div>
