<div class="container">
      <div class="element">
         <div>2002</div>
         <div></div>
         <div>Les serveurs sont construits en interne, afin d’optimiser l'espace et maîtriser l'ensemble de la chaîne de valeur</div>
      </div>
      <div class="element">
         <div>2003</div>
         <div></div>
         <div>Lorem ipsum dolor sit.</div>
      </div>
      <div class="element">
         <div>2006</div>
         <div></div>
         <div>Lorem ipsum dolor sit.</div>
      </div>
      <div class="element">
         <div>2008</div>
         <div></div>
         <div>Lorem ipsum dolor sit.</div>
      </div>
      <div class="element">
         <div>2009</div>
         <div></div>
         <div>Lorem ipsum dolor sit.</div>
      </div>
      <div class="element">
         <div>2012</div>
         <div></div>
         <div>Lorem ipsum dolor sit.</div>
      </div>
      <div class="element">
         <div>2019</div>
         <div></div>
         <div>Lorem ipsum dolor sit.</div>
      </div>
      <div class="element">
         <div>2020</div>
         <div></div>
         <div>Rack entièrement cliquable (watercooling, réseau électrique)</div>
      </div>
   </div>
